* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f6f6f6;
}

/* Navbar */
.navbar {
    background: #fff;
    padding: 18px 7%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e4e4e4;
}
.logo {
    font-weight: 700;
    cursor: pointer;
}
nav a {
    margin-left: 18px;
    cursor: pointer;
    color: #555;
    text-decoration: none;
}

/* Banner */
.banner {
    text-align: center;
    background: #fff;
    padding: 45px 0;
    margin-top: 10px;
}

/* Product Grid */
.products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 25px;
    padding: 30px 7%;
}

.product-card {
    background: #fff;
    border-radius: 8px;
    padding: 18px;
    text-align: center;
}

.product-card img {
    width: 150px;
    height: 180px;
    object-fit: contain;
}

.name {
    margin-top: 10px;
    font-size: 14px;
}

.price {
    font-size: 16px;
    font-weight: 600;
    margin: 10px 0;
}

/* Button */
.add-cart {
    background: black;
    color: #fff;
    padding: 8px 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.add-cart:hover {
    opacity: 0.85;
}

/* Cart Page */
.cart-container {
    padding: 40px 8%;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: #fff;
}

table th, table td {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

#cartTotal {
    margin-top: 20px;
    text-align: right;
}
.buy-btn {
    margin-top: 20px;
    padding: 12px 20px;
    background: black;
    color: white;
    border: none;
    cursor: pointer;
    float: right;
    border-radius: 5px;
    font-size: 16px;
}
.buy-btn:hover {
    opacity: 0.8;
}
